<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
   </ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>NumPy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ol>

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jupyter Notebook</td>
    </tr>
    <tr>
      <td>RStudio</td>
    </tr>
    <tr>
      <td>Spyder</td>
    </tr>
  </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [2]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
print(hours)

3.3333333333333335

<b>Objectives:

<ul>
  <li>List of popular programming languages for data science, including Python, R, and SQL.</li>
  <li>Overview of commonly used libraries in data science, such as NumPy, Pandas, and Matplotlib.</li>
  <li>Code examples in Python for data science tasks, such as converting minutes to hours.</li>
    </ul>

<h2>Author</h2>

Payal Sumbhe